{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "imports.html" %}
    <link rel="stylesheet" href="{%static 'home.css'%}">
    <title>home</title>
</head>
<body>
    <aside id="img-home-container">
        <img src="{% static 'img/me.png' %}" alt="" id="img-home">
    </aside>
    <main id="home-container">
        <section id="section-title">
            <h1>Auto Photo Stacker</h1>
            <img src="{% static "img/camisetas.png" %}">
            <h2>Image Editing Tool</h2>
        </section>
        <section>
            <button id="btn-start"><a href="/editor">Start</a></button>
        </section>
        <footer>
            <h3>By: Gio Mustard</h3>
            <hr>
            <h6>mssm011009@gmail.com</h6>
        </footer>
    </main>
</body>
</html>