:root {
    --shadow:#4533034d;
    --shadow-green:#2345038c;
    --shadow-red:#4503038c;
    --text: #453303;
    --button-green: #E3FFB9;
    --button-red: #FE9081;
    --button-grey: #EEEEEE;
    --background-grey: #DDDDDD;
    --background-white: #FFFFFF;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    color: var(--text);
}
h1{
    font-family: "Monoton", sans-serif;
    font-weight: 400;
    font-style: normal;
}
button{
    background-color: var(--button-grey);
    padding: 1vh 2vh;
    border-radius: 2vh;
    /* box-shadow: 0 .5vh 1vh -.5vh var(--shadow); */
    box-shadow: 0 .3vh 0px .05vh var(--shadow);
    border: 0;
    user-select: none;
}
button.green{
    background-color: var(--button-green);
    box-shadow: 0 .3vh 0px .05vh var(--shadow-green);
}
button.red{
    background-color: var(--button-red);
    font-weight: 500;
    color: #600404;
    box-shadow: 0 .3vh 0px .05vh var(--shadow-red);
}
button:active{
    box-shadow: none;
    transform: translateY(.5vh);
}
button > a{
    width: 100%;
    height: 100%;
    font-size: inherit;
    text-decoration: none;
}
/* clases generales usadas en cualquier elemento */
.no-display{
    display: none !important;
}